In [1]:
#print hello world
print("hello world!")

hello world!

In [2]:
#to add two numbers
num1=int(input("enter a number:"))
num2=int(input("enter a number:"))
result=num1+num2
print("sum of num1,num2 is:",result)

enter a number:678
enter a number:5678
sum of num1,num2 is: 6356

In [11]:
#find squareroot
num=float(input("enter a number to be squareroot:"))
num_sqrt=num ** 0.5
print('the squareroot of %0.3f is %0.3f'%(num,num_sqrt))
#print(num_sqrt),9**1/2->automatically turns out root

enter a number to be squareroot:2025
the squareroot of 2025.000 is 45.000

In [13]:
#to calculate the area of a triangle
#area of a triangle=1/2bl
breadth=float(input("enter breadth:"))
length=float(input("enter length:"))
x=breadth*length
area=1/2*x
print(area)

enter breadth:4
enter length:6
12.0

In [28]:
#to solve a quadratic equation
#it is a second order quadratic equation,formula=ax^2+bx+c
#-b+-root(b^2-4ac)/(2a)
a=int(input("enter a number:"))
b=int(input("enter b number:"))
c=int(input("enter c number:"))
x1=b**2-4*a*c
x2=x1**0.5
x3=-b+x2
x3_1=-b-x2
x4=x3/2*a
x4_1=x3_1/2*a
print(x4,x4_1)

enter a number:1
enter b number:8
enter c number:16
-4.0 -4.0

In [2]:
#swap two variables
a=9
b=10
a=b
print(b,a)

10 10

In [7]:
#generate a random number
import numpy as np
a=np.random.randint(9)
print(a)

1

In [12]:
#convert km into miles
#i mile=1.609 km
km=int(input("enter kilometers:"))
converted_miles=km/1.609
#convert miles into km
miles=int(input("enter miles:"))
converted_km=miles*1.609
print(converted_miles,converted_km)

enter kilometers:12
enter miles:13
7.458048477315103 20.917

In [13]:
#convert celsius into fahrenheit
#1 celsius=33.8f
celsius=float(input("enter celsius:"))
converted_fahrenheit=celsius/33.8
fahrenheit=float(input("enter fahrenheit:"))
converted_celsius=converted_fahrenheit*33.8
print(converted_fahrenheit,converted_celsius)

enter celsius:2
enter fahrenheit:23
0.0591715976331361 2.0

In [17]:
#to check whether a given number is positive.negative or 0
a=float(input("enter a number:"))
if(a>0):
    print("a is positive",a)
elif(a<0):
    print("a is negative",a)
else:
    print("a is zero",a)

enter a number:-8
a is negative -8.0

In [2]:
#python program to check a number is even or odd
a1=int(input("enter a number:"))
if(a1%2==0):
    print("even number")
else:
    print("odd number")

enter a number:098765
odd number

In [20]:
#python program to check the given year is leap or not
year=int(input("enter a year:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("given year is leap year")
else:
    print("given year is not a leap year")

enter a year:2017
given year is not a leap year

In [23]:
#find largest among three numbers
a=int(input("enter number:"))
b=int(input("enter number:"))
c=int(input("enter number:"))
if(a>b and a>c):
    print("a is largest number")
elif(b>c and b>a):
    print("b is largest number")
else:
    print("c is largest number")

enter number:87
enter number:83
enter number:10
a is largest number

In [29]:
#check given number is prime number
a=int(input("enter number:"))
flag=False
if a==1:
    print("it is not a prime number")
elif(a>1):
    for i in range(2,a):
        if(a%i==0):
            flag=True
            break
    if flag:
        print("it is not prime number")
    else:
        print("it is prime number")

enter number:5
it is prime number

In [32]:
#print all prime numbers in an interval
a=int(input("enter first num:"))
b=int(input("enter second num"))
for num in range(a,b+1):
  if num>1:
    for i in range(2,num):
        if(num%i==0):
            break
    else:
        print(num)

enter first num:45
enter second num87
47
53
59
61
67
71
73
79
83

In [26]:
#to find the factorial of the number
#n!=(n!)*(n-1!)*(n-2!).......
#5!=5*4*3*2*1=120
n=int(input("enter number:"))
factorial=1
for i in range(1,n+1):
    factorial =factorial*i
print(factorial)

enter number:5
120

In [35]:
#to display the multiplication table
table=int(input("enter a table:"))
num=int(input("enter a num:"))
for i in range(1,num+1):
    print(table,"*",i,"=",table*i)

enter a table:5
enter a num:10
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [37]:
#to display the multiplication table in reverse order
table=int(input("enter a table:"))
num=int(input("enter a num:"))
for i in range(num,0,-1):
    print(table,"*",i,"=",table*i)

enter a table:5
enter a num:10
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [1]:
print("hello world")

hello world

In [2]:
#to print the fibonacci series
n=int(input("enter how many terms:"))
n1,n2=0,1
count =0
if(n<=0):
    print("please enter positive number")
elif(n==1):
    print("fibonacci series upto",n)
    print(n1)
else:
    print("fibonacci sequence:")
    while count<n:
        print(n1)
        n3=n1+n2
        n1=n2
        n2=n3
        count+=1

enter how many terms:4
fibonacci sequence:
0
1
1
2

In [6]:
#using for loop
num=int(input("enter num:"))
n1,n2=0,1
print("Fibonacci series")
for i in range(num):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3,end=" ")
print()

enter num:6
Fibonacci series
1 2 3 5 8 13

In [18]:
#to check armstrong number
num=int(input("Enter a number:"))
num_count=len(str(num))
#print(num_count)
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit ** num_count
    temp //=10
if num==sum:
    print(num,"is an armstrong number")
else:
    print(num,"is not an armstrong number")

Enter a number:45678
45678 is not an armstrong number

In [20]:
#to find armstrong number in an interval
lower=int(input("enter lower range:"))
upper=int(input("enter upper range:"))
for num in range(lower,upper+1):
    order=len(str(num))
    sum=0
    temp=num
    while temp>0:
        digit=temp % 10
        sum += digit ** order
        temp //=10
    if num==sum:
        print(num)

enter lower range:1600
enter upper range:2000
1634

In [8]:
#to find the sum of natural numbers
#s=n(n+1)/2
n=int(input("enter natural numbers:"))
s=n*n+1
sum=s/2
print("the sum is: ",sum)

enter natural numbers:10
the sum is:  50.5

In [9]:
#to dispay powers of 2 using Anonymous function
terms=10
result=list(map(lambda x:2**x,range(terms)))
print("the total terms are:",terms)
for i in range(terms):
    print("2 raised to power",i,"is",result[i])

the total terms are: 10
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

In [25]:
#to find numbers divisible by another number
numbers=100
for i in range(1,numbers):
    if(i%13==0):
        print(i,end=" ")

13 26 39 52 65 78 91

In [21]:
#by using anonymous function
my_list=[12,65,54,39,102,339,221]
result=list(filter(lambda x:(x%13==0),my_list))
print("numbers divisible by 13 are",result)

numbers divisible by 13 are [65, 39, 221]

In [36]:
#to convert Decimal to binary,octal and hexadecimal
num=int(input("enter number:"))
binary=bin(num)
octal =oct(num)
hexadecimal=hex(num)
print("binary",binary,"octal",octal,"hexadecimal",hexadecimal)

enter number:33
binary 0b100001 octal 0o41 hexadecimal 0x21

In [33]:
#decimal to octal without using built in functions
def Decoct(n):
    octal=[0]*100
    i=0
    while(n!=0):
        octal[i]=n%8
        n=int(n/8)
        i+=1
    for j in range(i-1,-1,-1):
        print(octal[j],end="")
Decoct(33)

41

In [34]:
#decimal to binary
def Decoct(n):
    octal=[0]*100
    i=0
    while(n!=0):
        octal[i]=n%2
        n=int(n/2)
        i+=1
    for j in range(i-1,-1,-1):
        print(octal[j],end="")
Decoct(33)

100001

In [35]:
#decimal to hexadecimal
def Decoct(n):
    octal=[0]*100
    i=0
    while(n!=0):
        octal[i]=n%16
        n=int(n/16)
        i+=1
    for j in range(i-1,-1,-1):
        print(octal[j],end="")
Decoct(33)

21

In [44]:
#to print the english alphabets
import string
for letter in string.ascii_lowercase:
    print(letter,end=" ")
print("\nAlphabet from A-Z")
for letter in string.ascii_uppercase:
    print(letter,end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z
Alphabet from A-Z
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [51]:
#to get the ASCII value of a character
k=input("please enter a character:")
print("The ASCII value of"+k+"is",ord(k))

please enter a character:h
The ASCII value ofhis 104

In [53]:
#by using char() function
num=int(input("enter number:"))
print("the ASCII value is",chr(num))

enter number:87
the ASCII value is W

In [67]:
#to print the factors of a number
num=10
for i in range(1,num+1):
    if(num%i==0):
        print(i,end=" ")

1 2 5 10

In [69]:
#to print the HCF of a given number
def compute_hcf(x,y):
    if x>y:
        smaller=y
    else:
        smaller=x
    for i in range(1,smaller+1):
        if((x%i==0)and (y%i==0)):
            hcf=i
    return hcf
num1=54
num2=24
print("the hcf is",compute_hcf(num1,num2))

the hcf is 6